<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!--footerFragment 선언-->
<div th:fragment="footerFragment">
    <footer id="footer">
        <section class="information">
            <div class="footer-center">
               <ul class="" style="float: left;">
                    <li>상담전화</li>
                    <li>02-2637-1173</li>
                    <li>평일 10:30 ~ 18:30 </li>
                    <li>주말 및 공휴일 휴무</li>
                </ul>
            </div>
            <div class="footer-right">
                <div class="jeonju">
                    <ul class="" style="float: left;">
                        <li>Address : 서울 영등포구 양산로 177 경남아파트상가 108호 경남인테리어</li>
                        <li>e-mail : kninfo0501@naver.com</li>
                        <li>Tel : 02-2637-1173</li>
                        <li>Fax : 02-2637-1173</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="copyright" style="font-size: 15px">
            <h6>Copyright <i class="xi-copyright"></i> 경남인테리어 All Rights Reserved.</h6>
        </section>
    </footer>
</div>
</html>